* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 80vw;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin: 20px;
}
a {
  text-decoration: none;
  color: teal;
}
@media only screen and (max-width: 539px){
    nav ul li {
        margin: 10px;
}
@media only screen and (max-width: 439px){
    nav ul li {
        margin: 5px;
}

@media only screen and (max-width: 390px){
    nav h1{text-align: center;
 }

    nav ul{
        display: none;
    }