.item {
  background-color: salmon;
  border: 1px solid green;
  text-align: center;
}
.container {
  display: grid;
  height: 208px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}
